
.xr{
	padding-bottom: 55px;
}
.content{
	height: 0.68rem;
	margin-top: 12px;
	width: 100%;
	margin-left:10px;
	border-bottom: 1px solid #ccc;
	height:78px;
}
.left{
	width: 23%;
	
}
.right{
	width: 64%;
	margin-right:0.13rem;
}
.right p{
	font-size:0.12rem;
	display: inline-block;
	font-weight:bold;
	color: #4E5662;

}
.right .right-in{
	margin-top:5px;
	position: relative;
}
.right-in em{
	font-style: normal;
	border:1px solid #ccc;
	font-size: 0.1rem;
	display: inline-block;
	width:13%;
	height:0.19rem;
	text-align: center;
	margin-right: 10px;
	color:#888BA2;
}
.right-in span{
	font-size: 0.1rem;
	color:#888BA2;
}
#spot{
	width: 2px;
	height: 2px;
	background-color:#888BA2;
	border-radius: 2px 2px;
	display:inline-block;
	position: absolute;
	top:10px;
	left:84px;z
}
.right-in>i{
	font-size: 0.1rem;
	font--style:normal;
	color:#888BA2;
}
.right-in img{
	position:absolute;
	top:8%;
	right:4%;
}

.footer{
	/*position: absolute;*/
	bottom: 0;
	width: 100%;
	margin-top: 10px;
	position: fixed;
	background-color: #eee;
}
.footer .active{
	float: left;
	margin-left:50px;
	text-align: center;
}
.footer .video{
	float: right;
	margin-right: 50px;
	text-align: center;
}
.footer img{
	width: 32px;
	height: 32px;
	/*display: inline-block;*/
}

.jz{
	
	position: absolute;
	top:50%;
	left:48%;
	margin-left: -17.5px;
	margin-top:-17.5px;
	text-align: center;

}
.jz>img{						
				/*transform: rotate(360deg);
				animation: rotation 3s linear infinite;*/
				z-index: 1;
				animation: aloading 0.8s steps(7, end) 0s infinite;
				/*animation: aloading 0.8s linear  0s infinite;*/
			/*	1.名称
				2.动画完成的时间
				3.动画的速度曲线
				Animation-delay:动画开始前的延迟
				Animation-direction-count:规定动画应该播放的次数
	Animation-direction: 规定是否应该轮流反向播放动画。
		linear 匀速*/
		/*infinite表示无限*/
		background-size: 20% 20%;
				 	

			}
			@keyframes aloading{
				from {transform: rotate(360deg);}
				to {transform: rotate(0deg);}
			}
.mask>h3{
	color:#E8E8E8;
	margin-top:80px;
	font-weight: bold;
}			
.mask{
	position: absolute;
	width:107px;
	height:107px;
	background-color:rgba(0,0,0,0.4);
	top:50%;
	left:50%;
	margin-left: -60px;
	margin-top:-40px;
	border-radius:5px 5px; 
	text-align: center;


}

@media all and (max-width:320px){
	.right{
		margin-right: 15px;
		width: 69%;
	}
	.left{
		width: 24%;
	}
	#spot{
		left:80px;
	}
}